<!--appbar-->
<header class="mdui-appbar mdui-appbar-fixed mdui-shadow-6">
  <div class="mdui-toolbar mdui-color-indigo">
    <a href="javascript:;" class="mdui-typo-title">
      <b>HESC</b>harts
    </a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="javascript:;" class="mdui-ripple mdui-ripple-white">
      <i class="mdui-icon material-icons">&#xe8b6;</i>
      <label>其他案例集</label>
    </a>

    <a  class="mdui-ripple mdui-ripple-white" (click)="getsomthing()">
      <i class="mdui-icon material-icons">&#xe5d4;</i>
    </a>
  </div>
</header>


<!--导航栏-->
<!-- 默认抽屉栏在左侧 -->
<div class="mdui-drawer mdui-shadow-10 ">
  <ul class="mdui-list">
    <div routerLinkActive="nav-select-active">
      <a routerLink="my">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe168;</i>
          <div class="mdui-list-item-content">我的案例集</div>
        </li>
      </a>
    </div>
  </ul>

  <ul class="mdui-list">
    <div routerLinkActive=" nav-select-active">
      <a routerLink="index/share">
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">&#xe168;</i>
          <div class="mdui-list-item-content">推荐案例集</div>
        </li>
      </a>
    </div>
  </ul>
</div>




<div class="mdui-container-fluid" style="background-color:#ecf0f5">
  <div class="top-alert mdui-valign mdui-shadow-1">
    <strong class="fl">公告：</strong>目前 HESCharts 仅测试谷歌 Chrome 浏览器版本 50 以上、Microsoft Edge。其他浏览器尚未测试。问题反馈：
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=494713188&amp;site=qq&amp;menu=yes"><img
      style=" vertical-align: middle;" src="http://wpa.qq.com/pa?p=2:494713188:52" alt=" 反馈问题"
      title="反馈问题"></a>
  </div>

  <div style="padding-top: 16px;">
    <router-outlet></router-outlet>
  </div>
</div>



