<div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-3 mdui-col-lg-3 mdui-col-xl-3 mdui-p-b-1"   *ngFor="let data of datas;">


  <div class="mdui-card mdui-hoverable mdui-shadow-3">
    <!--<app-item [title]="data['title']" [description]="data['description']" [imgUrl]="data.imgUrl" (onCollect1)="collect($event)" [index]="index">-->
      <!--<header>1111111111</header>-->
    <!--</app-item>-->

    <app-item  [id]="data.id" [imgUrl]="data.imgUrl" [screenName]="data.screenName" (copyOrEdit)="showModal(data.id,$event)"></app-item>

  </div>

  <input type="text" [(ngModel)]="data['title']" name="testSelect" #testSelect="ngModel" pattern="\d*"  [appMyBeautifulBackground]="'yellow'">
  <!--<p>{{testSelect.valid}}</p>-->

</div>
<!--<div *appMyNgIf="true">这里是我的ngIf指令</div>-->
<!--<md-progress-bar-->
  <!--class="example-margin"-->
  <!--[color]="Primary"-->
  <!--[mode]="Determinate"-->
  <!--[value]="30">-->
<!--</md-progress-bar>-->
<!--<modal #myModal>-->
  <!--<modal-header>-->
    <!--<h1>Modal header</h1>-->
  <!--</modal-header>-->
  <!--<modal-content>-->
    <!--Hello Modal!-->
  <!--</modal-content>-->
  <!--<modal-footer>-->
    <!--<button class="btn btn-primary" (click)="myModal.close()">close</button>-->
  <!--</modal-footer>-->
<!--</modal>-->

<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Email">
    <!--<md-error *ngIf="emailFormControl.hasError('pattern')">-->
      <!--Please enter a valid email address-->
    <!--</md-error>-->
    <!--<md-error *ngIf="emailFormControl.hasError('required')">-->
      <!--Email is <strong>required</strong>-->
    <!--</md-error>-->
  </md-input-container>
</form>
